﻿

body {background-image: url(../Content/Img/page-bg.jpg);font-size:12px; line-height:16px; background-repeat:repeat-x; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif;position:relative;}

div {margin:0; padding:0;}
input {font-size:10px;}
img {border:0;}
.clear {clear:both;}
select {font-size:11px;}
p {margin:0; padding:0;}
a,a:link,a:visited {color:#000000; }



a:hover,a:active {color:#000000; text-decoration:underline; cursor:pointer;}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/


h2 
{
    background-color: #C3DAEC;
    color: #002050;
    font: bold 13px/19px arial,verdana,sans-serif;
    margin: 0 0 6px;
    overflow: hidden;
    padding: 5px 3px 4px 5px;
    position: relative;
}

.sort-by 
{
    background-color: #E5EFF7;
    display: inline;
    vertical-align: middle;
    text-align: left;
    margin: 6px 0 0;
    padding: 5px 10px;
    white-space: nowrap;
}

.filter 
{
    margin: 0 0 6px;
    padding: 5px 3px 4px 5px;
    background-color: rgb(240, 240, 240); 
    
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page 
{
    margin: auto;
    width: 1198px;
}


/*
#main 
{
    background-color: #FFFFFF;
    margin: auto;
}
*/
footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table {
    
    width: 100%;
    border-collapse: collapse;
}

table td {
    
    border-bottom: 1px solid #B6D1E8;
    padding: 4px 0 0 10px;
}

table th {
    background-color: #E5EFF7;
    border-bottom: 2px solid #86B5D6;
    margin: 6px 0 0;
    padding: 5px 10px;
}

tbody 
{
    overflow: scroll;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}



nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

.applicationTitle {color:White; font-size:2em; margin-top:0px; font-family:Verdana; padding-top:40px;}

.footer {background-color:#b4975a; height:52px; border-top:3px solid #002050; clear:both; margin: 0 auto; width:1198px}


.logo {display:block; width:120px; height:63px; margin:20px 0 0 10px; padding:0; float:left;   height:63px; background-image:url(../Content/Img/logo_AdminTool.gif); background-repeat:no-repeat;}

    .header {
        background-image: url("../Content/Img/header-bg.gif");
        background-repeat: repeat-x;
        height:120px;
        width:1196px;
        margin: 0 auto;
    }
    
    .wrapper {
    background-image: url("../Content/Img/left-right-bg-extended.gif");
    background-repeat: repeat-y;
    margin: 0 auto;
    width:1220;
}