﻿@model MvcAdmin.Models.AuthUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label"><b>FirstName</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label"><b>LastName</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label"><b>Department</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Department)
    </div>

    <div class="display-label"><b>Location</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

    <div class="display-label"><b>Hedge Fund</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MAA_Access)
    </div>

    <div class="display-label"><b>Private Investments</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NMAA_Access)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
